<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add New Fifth Wheel</title>
</head>
<body>
	<div align="center" class="col-md-12">
		<h2>Add/update a Fifth Wheel</h2>
		<div class="col-md-6">
			<form action="#" th:action="@{/update/{id}(id=${newFifthWheel.id})}" th:object="${newFifthWheel}" method="post">
				<div class="form-group">
					<label for="model">Model:</label> <input type="text" class="form-control" th:field="*{model}" id="model" name="model" />
				</div>
				<div class="form-group">
					<label for="price">Price:</label> <input type="text" class="form-control" th:field="*{price}" id="price" name="price">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>