<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Delete Fifth Wheel</title>
</head>
<body>
	<form action="deleteFifthWheel" method="post">
		<p>
			Enter the model of fifth wheel you would like to delete: <input
				type="text" name="modelName" size="25"> <input type="submit"
				value="Delete" />
		</p>
	</form>
	<a th:href="@{/delete/{id}(id=${currentFifthWheel.id})}">Delete</a>

</body>
</html>