<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="update.html" method="post">
		<p> New Model: <input type="text" name="newModel" size="25" /></p>
		<p> New Price: <input type="text" name="newPrice" size="25" /></p>
		
		<p> Enter the current Fifth Wheel Model: <input type="text" name="oldModelName" size="25" /><br> <input type="submit" value="Update" /></p>
	</form>
</body>
</html>